<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="http://pbs.twimg.com/profile_images/638744380183052288/tczoTpO2.jpg"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="http://pbs.twimg.com/profile_images/638744380183052288/tczoTpO2.jpg"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>